# Created to ignore files and directories created by Questasim
questa/*
modelsim.ini
simulation.log
transcript

# Ignore directories and files used for synthesis in Synopsys
command.log
default.svf
MIPSProcessor_Synthesis/*
WORK/*
alib-52/*


# Ignore any misc. logs
./*.log

# Ignore .bak files in the Design folder
design/*.bak
